{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
   {% trans "Sign Out" %}
{% endblock head_title %}
{% block body %}
<div class="container mx-auto p-4">
   <h1 class="text-4xl font-bold text-center mb-8 text-[#000022]">
       {% trans "Sign Out" %}
   </h1>


   <div class="bg-white rounded-lg shadow-md p-8 max-w-md mx-auto">
       <p class="text-lg mb-4 text-gray-700 text-center">
           {% trans 'Are you sure you want to sign out?' %}
       </p>


       {% url 'account_logout' as action_url %}
       {% element form method="post" action=action_url no_visible_fields=True %}
           {% slot actions %}
               {% csrf_token %}
               <div class="flex justify-center">
                   <button type="submit" class="bg-[#e28413] hover:bg-[#bc7d30] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                       {% trans 'Sign Out' %}
                   </button>
               </div>
           {% endslot %}
       {% endelement %}
   </div>
</div>
{% endblock body %}
