{% extends 'base.html' %}
{% block body %}
<div class="container mx-auto p-4">
   <h1 class="text-4xl font-bold text-center mb-8 text-[#000022]">Create Profile</h1>


   <div class="bg-white rounded-lg shadow-md p-8">
       <form method="POST" class="bg-white rounded-lg shadow-md p-8">
           {% csrf_token %}


           <div class="mb-4">
               <label for="id_age" class="block text-gray-700 text-sm font-bold mb-2">Age:</label>
               <input type="number" id="id_age" name="age" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ form.age.value|default_if_none:'' }}" required>
           </div>


           <div class="mb-4">
               <label for="id_height" class="block text-gray-700 text-sm font-bold mb-2">Height (cm):</label>
               <input type="number" id="id_height" name="height" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ form.height.value|default_if_none:'' }}" required>
           </div>


           <div class="mb-4">
               <label for="id_weight" class="block text-gray-700 text-sm font-bold mb-2">Weight (kg):</label>
               <input type="number" id="id_weight" name="weight" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ form.weight.value|default_if_none:'' }}" required>
           </div>
           <div class="mb-4">
               <label for="id_diseases" class="block text-gray-700 text-sm font-bold mb-2">Diseases:</label>
               <div id="disease-tags" class="flex flex-wrap gap-2">
                   <div class="flex flex-col gap-2" id="predefined-diseases">
                       {% for disease in predefined_diseases %}
                           <div class="flex items-center" id="div-disease-{{ disease }}">
                               <input type="checkbox" id="disease-{{ disease }}" name="diseases" value="{{ disease }}" class="mr-2">
                               <label for="disease-{{ disease }}" class="text-gray-700 text-sm">{{ disease }}</label>
                               <button type="button" onclick="deleteTag('disease-{{ disease }}')" class="bg-red-500 hover:bg-red-700 text-white text-xs py-1 px-2 rounded transition duration-300 ml-2">Delete</button>
                           </div>
                       {% endfor %}
                   </div>
                   <div class="flex flex-col gap-2" id="custom-diseases"></div>
               </div>
               <input type="text" id="new-disease" placeholder="Add new disease" class="border rounded px-3 py-2">
               <button type="button" onclick="addDiseaseTag()" class="bg-[#e28413] hover:bg-[#bc7d30] text-white font-bold py-2 px-4 rounded">Add</button>

           </div>

           <div class="mb-4">
               <label for="id_allergies" class="block text-gray-700 text-sm font-bold mb-2">Allergies:</label>
               <div id="allergy-tags" class="flex flex-wrap gap-2">
                   <div class="flex flex-col gap-2" id="predefined-allergies">
                       {% for allergy in predefined_allergies %}
                           <div class="flex items-center" id="div-allergy-{{ allergy }}">
                               <input type="checkbox" id="allergy-{{ allergy }}" name="allergies" value="{{ allergy }}" class="mr-2">
                               <label for="allergy-{{ allergy }}" class="text-gray-700 text-sm">{{ allergy }}</label>
                               <button type="button" onclick="deleteTag('allergy-{{ allergy }}')" class="bg-red-500 hover:bg-red-700 text-white text-xs py-1 px-2 rounded transition duration-300 ml-2">Delete</button>
                           </div>
                       {% endfor %}
                   </div>
                   <div class="flex flex-col gap-2" id="custom-allergies"></div>
               </div>
               <input type="text" id="new-allergy" placeholder="Add new allergy" class="border rounded px-3 py-2">
               <button type="button" onclick="addAllergyTag()" class="bg-[#e28413] hover:bg-[#bc7d30] text-white font-bold py-2 px-4 rounded">Add</button>
           </div>


           <button type="submit" class="bg-[#e28413] hover:bg-[#bc7d30] text-white font-bold py-2 px-4 rounded">Save</button>
       </form>
   </div>
</div>
{% endblock body %}


{% block script %}
<script>
   const customDiseasesDiv = document.getElementById("custom-diseases");
   function addDiseaseTag() {
       const newDisease = document.getElementById("new-disease").value.trim();
       if (newDisease !== "") {
           const diseaseTags = document.getElementById("disease-tags");
           const newDiseaseElement = document.createElement("div");
           newDiseaseElement.classList.add("flex", "items-center");
           newDiseaseElement.setAttribute('id', `disease-${newDisease}`);
           newDiseaseElement.innerHTML = `
               <input type="checkbox" id="disease-${newDisease}" name="diseases" value="${newDisease}" class="mr-2" checked>
               <label for="disease-${newDisease}" class="text-gray-700 text-sm">${newDisease}</label>
               <button type="button" onclick="deleteTag('disease-${newDisease}')" class="bg-red-500 hover:bg-red-700 text-white text-xs py-1 px-2 rounded transition duration-300 ml-2">Delete</button>
           `;
           customDiseasesDiv.appendChild(newDiseaseElement);
           document.getElementById("new-disease").value = "";
       }
   }


   // Allergies
   const customAllergyDiv = document.getElementById("predefined-allergies");
   function addAllergyTag() {
       const newAllergy = document.getElementById("new-allergy").value.trim();
       if (newAllergy !== "") {
           const newAllergyElement = document.createElement("div");
           newAllergyElement.classList.add("flex", "items-center");
           newAllergyElement.setAttribute('id', `allergy-${newAllergy}`);
           newAllergyElement.innerHTML = `
               <input type="checkbox" id="allergy-${newAllergy}" name="allergies" value="${newAllergy}" class="mr-2" checked>
               <label for="allergy-${newAllergy}" class="text-gray-700 text-sm">${newAllergy}</label>
               <button type="button" onclick="deleteTag('allergy-${newAllergy}')" class="bg-red-500 hover:bg-red-700 text-white text-xs py-1 px-2 rounded transition duration-300 ml-2">Delete</button>
           `;
           customAllergyDiv.appendChild(newAllergyElement);
           document.getElementById("new-allergy").value = "";
       }
   }
   /*
   const customFavoriteDiv = document.getElementById("predefined-favorites");
   function addFavoriteTag() {
       const newFavorite = document.getElementById("new-favorite").value.trim();
       if (newFavorite !== "") {
           const newFavoriteElement = document.createElement("div");
           newFavoriteElement.classList.add("flex", "items-center");
           newFavoriteElement.setAttribute('id', `favorite-${newFavorite}`);
           newFavoriteElement.innerHTML = `
               <input type="checkbox" id="favorite-${newFavorite}" name="favorites" value="${newFavorite}" class="mr-2" checked>
               <label for="favorite-${newFavorite}" class="text-gray-700 text-sm">${newFavorite}</label>
               <button type="button" onclick="deleteTag('favorite-${newFavorite}')" class="bg-red-500 hover:bg-red-700 text-white text-xs py-1 px-2 rounded transition duration-300 ml-2">Delete</button>
           `;
           customFavoriteDiv.appendChild(newFavoriteElement);
           document.getElementById("new-favorite").value = "";
       }
   }
   */




   // Generalized delete function for both diseases and allergies
   function deleteTag(tagId) {
       const tagElement = document.getElementById(tagId);
       if (tagElement) {
           tagElement.remove();
       }
   }


    $(document).ready(function() {
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });

</script>
{% endblock script %}


