{% extends 'base.html' %}
{% block body %}
   <form id="locationForm" method="POST" action="find/">
       {% csrf_token %}
       <input type="hidden" name="latitude" id="latitudeInput">
       <input type="hidden" name="longitude" id="longitudeInput">
   </form>


   <section id="intro" class="flex flex-row md:flex-col justify-center p-6 items-center mb-12">
       <h2 class="max-w-4xl text-4xl font-bold text-left md:text-center ">
           Modern <span id="point" class="text-[#e28413]">Food Recommender</span>
       </h2>
       <p class="max-w-md text-2xl mt-4 text-left md:text-center">Smart food recommender that improves your lifestyle</p>
   </section>


   <div class="flex flex-col justify-center items-center space-y-2">
       <button id="getLocationButton" onclick="getLocation()" class="bg-[#e28413] hover:bg-[#e28413] text-white font-bold py-2 px-4 rounded-full transition transform ease-in-out duration-300 hover:scale-105 opacity-100 hover:opacity-100 disabled:opacity-50">Nearby Search</button>
       <button id="getRecipeButton" onclick="getRecipe()" class="bg-[#e28413] hover:bg-[#e28413] text-white font-bold py-2 px-4 rounded-full transition transform ease-in-out duration-300 hover:scale-105 opacity-100 hover:opacity-100 disabled:opacity-50">Get Recipe</button>
       <button id="getIngredients" onclick="getIngredients()" class="bg-[#e28413] hover:bg-[#e28413] text-white font-bold py-2 px-4 rounded-full transition transform ease-in-out duration-300 hover:scale-105 opacity-100 hover:opacity-100 disabled:opacity-50">Ingredients</button>
       <!--
       <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition transform ease-in-out duration-300 hover:scale-105">Planner</a>
       -->
   </div>

   <div style="display: none;" id="loading-circle" class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
       <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_nOfF{animation:spinner_qtyZ 2s cubic-bezier(0.36,.6,.31,1) infinite}.spinner_fVhf{animation-delay:-.5s}.spinner_piVe{animation-delay:-1s}.spinner_MSNs{animation-delay:-1.5s}@keyframes spinner_qtyZ{0%{r:0}25%{r:3px;cx:4px}50%{r:3px;cx:12px}75%{r:3px;cx:20px}100%{r:0;cx:20px}}</style><circle class="spinner_nOfF" cx="4" cy="12" r="3"/><circle class="spinner_nOfF spinner_fVhf" cx="4" cy="12" r="3"/><circle class="spinner_nOfF spinner_piVe" cx="4" cy="12" r="3"/><circle class="spinner_nOfF spinner_MSNs" cx="4" cy="12" r="3"/></svg>
   </div>

{% endblock %}
{% block script %}
<script>
   const getLocationButton = document.getElementById("getLocationButton")
   const getRecipeButton = document.getElementById("getRecipeButton")
   const getIngredientsButton = document.getElementById("getIngredients")
   const loadingCircle = document.getElementById("loading-circle")
   async function getLocation() {
       getLocationButton.disabled = true
       getRecipeButton.disabled = true
       getIngredientsButton.disabled = true
       loadingCircle.style.display = 'block'
       if (navigator.geolocation) {
           await navigator.geolocation.getCurrentPosition(showPosition);
       } else {
           alert("Location is not allowed by this browser.")
       }
   }
   async function getRecipe() {
       window.location.href = "{% url 'recipe' %}"
   }

   async function getIngredients() {
       window.location.href = "{% url 'ingredient' %}"
   }
   async function showPosition(position) {
       const lat = position.coords.latitude;
       const long = position.coords.longitude;

       document.getElementById('latitudeInput').value = lat;
       document.getElementById('longitudeInput').value = long;

       document.getElementById('locationForm').submit();
   }

    onpageshow = async() => {
    getLocationButton.disabled = false;
    getRecipeButton.disabled = false;
    getIngredientsButton.disabled = false;
    loadingCircle.style.display = 'none';
    }
</script>
{% endblock %}



